<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>
    <style type="text/css">
      * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <table role="presentation" style="background-color: #000; table-layout: fixed;" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#000" align="center">
      <tbody>
        <tr>
          <td align="center">
            <center style="width: 100%;">
              <table role="presentation" style="background-color: #FFF; margin: 0 auto; max-width: 512px; width: inherit;" width="512" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFF">
                <tbody>
                  <tr>
                    <td style="background-color: #000; padding: 28px 0 20px 0; padding-bottom: 24px; text-align: center;" bgcolor="#000" align="center">
                      <table role="presentation" style="width: 100% !important; min-width: 100% !important;" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td style="width: 100%;" width="100%" align="center">
                              <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.herrdaub.de/" style="cursor: pointer; color: #FFF; display: inline-block; text-decoration: none;">
                                <img src="http://drive.google.com/uc?export=view&id=1X_jbsDR7_DZfXcCYjun2ERGzuxdFTk9s" alt="Daniel Daub" style="outline: none; text-decoration: none;" width="88" height="auto" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 16px 24px 0 24px; color: #FFF; width: 100%;" width="100%" align="center">
                              <table role="presentation" style="width: 100%;" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td style="text-align: center;" align="center">
                                      <h2 style="margin: 0; color: #FFF; font-weight: 200; font-size: 20px; line-height: 1.2;">{{ salutation }}</h2>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td>
                              <table role="presentation" style="padding: 5% 5% 5% 5%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" >
                                <tbody>
                                  <tr style="min-height: 35vh;">
                                    <td>
                                      
                                      <p style="margin-bottom: 5px; white-space: pre-line; word-wrap: break-word;">{{ message }}</p>
                                      
                                      <div style="padding: 50px 0 80px 0; text-align: center;" align="center">
                                        <a rel="nofollow noopener noreferrer" target="_blank" href="{{ url }}" style="font-size: 18px; font-weight: 600; padding: 8px 18px; cursor: pointer; color: #000; border-color: #ff8c00; border-width: 3px; border-style: solid; border-radius: 5px; text-decoration: none; width: 100%;" width="100%">{{ url_name }}</a>
                                      </div>
                                    
                                      <p>Bis dahin alles Gute und einen schönen Tag :)</p>
                                      <p style="margin: 10px 0 0 0;">Viele Grüße</p>
                                      
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <!-- <td style="background-color: #FFF;" bgcolor="#FFF">
                      <div style="text-align: center; padding: 30px 0 0 0;" align="center">
                        <a href="https://herrdaub.de/impressum" target="_blank" style="color: #FFF; text-decoration: none; font-size: 80%; padding: 0 5px; cursor: pointer;">Impressum</a>
                        <a href="https://www.herrdaub.de/agbs" target="_blank" style="color: #FFF; text-decoration: none; font-size: 80%; padding: 0 5px; cursor: pointer;">Allgemeine Geschäftsbedingungen</a>
                        <a href="https://www.herrdaub.de/datenschutz" target="_blank" style="color: #FFF; text-decoration: none; font-size: 80%; padding: 0 5px; cursor: pointer;">Datenschutz</a>
                      </div>
                      <div style="padding: 5px 0; text-align: center;" align="center">
                        <p style="color: #FFF; font-size: 80%;">Daniel Daub - Elbestraße 50 - 60547 Rüsselsheim am Main</p>
                      </div>
                    </td> -->
                    
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>

<!-- FOOTER -->

    <table style="letter-spacing: normal; text-indent: 0px; text-transform:none;word-spacing:0px;text-decoration:none;color:#FFF;margin:0;border-collapse:collapse; background-color: #000; width: 100%;" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td align="center" style="padding: 50px 0 30px 0;">
            <center style="width: 100%;">
              <table role="presentation" style="background-color: #000;margin: 0 auto;max-width: 512px;width: inherit;" width="512" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFF">
                <tbody>
                  <tr>
                    <td style="padding:0px 25px 0px 10px;vertical-align:top;">
                      <table style="margin:0px;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td style="padding:0px 1px 25px 0px;">
                              <p style="margin:1px;">
                                <br style="word-break: normal;word-wrap: break-word;">
                                <img src="http://drive.google.com/uc?export=view&id=1qN-UTSQqtVLDgKaHvcYkbQuxpU0U1qj1" alt="Daniel Foto" title="Profile Picture" style="display:block;border:0px;max-width:140px;" width="140" height="140">
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="margin:0px;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td style="padding:0px 1px 0px 0px;">
                              <p style="margin:1px;">
                                <a rel="nofollow noopener noreferrer" target="blank" href="https://herrdaub.de/" style="text-decoration:none !important;">
                                  <img src="http://drive.google.com/uc?export=view&id=1PmttEIMkFg7hy4Y73UCwlIozL9o4o2Fz" alt="daniel daub logo" title="Logo" style="display:block;border:0px;max-width:145px;" width="145" height="78">
                                </a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="padding:1px 0px 0px;" width="5">
                    </td>
                    <td style="padding:0px 10px 0px 0px;vertical-align:top;">
                      <table style="margin:0px;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td style="padding:0px 1px 20px 0px;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:#FFF;font-family:Arial, sans-serif;font-size:13px;line-height:17px;white-space:nowrap;">
                              <p style="line-height:17px;font-weight:700;margin:1px;color: #FFF;">
                                DJ Daniel Daub
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding:20px 1px 20px 0px;border-bottom-width:3px;border-bottom-style:solid;border-bottom-color:#FFF;">
                              <table style="margin:0px;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                  <tr>
                                    <td style="padding:1px 5px 1px 0px;vertical-align:middle;" valign="middle">
                                      <p style="margin: 1px;">
                                        <img src="http://drive.google.com/uc?export=view&id=14Qd9_Tvbg7b6YRJNTO6W4-HCDtCspgPz" alt="mobile" style="display:block;border:0px;max-width:21px;" width="21" height="21">
                                      </p>
                                    </td>
                                    <td style="font-family:Arial, sans-serif;font-size:13px;line-height:17px;white-space:nowrap;padding:1px 0px;vertical-align:middle;color: #FFF !important;">
                                      <p style="margin: 1px;">
                                        <a rel="nofollow noopener noreferrer" style="line-height:17px;color: #FFF !important;;text-decoration:none !important;">
                                          +49 172 4890833
                                        </a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="padding:1px 5px 1px 0px;vertical-align:middle;" valign="middle">
                                      <p style="margin: 1px;">
                                        <img src="http://drive.google.com/uc?export=view&id=1ywZEgjqJ5vJPl7EAWd9XbCvCOzcHcLmy" alt="adress" style="display:block;border:0px;max-width:21px;" width="21" height="21">
                                      </p>
                                    </td>
                                    <td style="font-family:Arial, sans-serif;font-size:13px;line-height:17px;white-space:nowrap;padding:1px 0px;vertical-align:middle;color:rgb(0, 0, 1) !important;">
                                      <p style="margin: 1px;">
                                        <span style="line-height:17px;color: #FFF !important;">
                                          Elbestraße 50, 65428 Rüsslesheim
                                        </span>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:Arial, sans-serif;font-size:13px;line-height:17px;white-space:nowrap;font-weight:700;padding:15px 3px 0px 0px;color:rgb(255, 140, 1) !important; max-width: 35px;">
                                      <p style="margin: 1px;">
                                        <a href="https://herrdaub.de/" rel="nofollow noopener noreferrer" target="blank" style="line-height:17px;color:rgb(255, 140, 0);text-decoration:none !important;">
                                          herrdaub.de
                                        </a>
                                      </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding:0px 1px 0px 0px;">
                              <table style="margin:0px;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                  <tr>
                                    <td style="font-size:0px;line-height:0px;padding:25px 1px 0px 0px;" width="42">
                                      <a href="https://www.instagram.com/herrdaub/" rel="nofollow noopener noreferrer" target="blank" style="text-decoration:none !important;">
                                        <img src="http://drive.google.com/uc?export=view&id=1D_i_2IOKCmdJDqDC8WF8CoAA87LOs9Au" alt="" style="display:block;border:0px;max-width:42px;" width="42" height="42">
                                      </a>
                                    </td>
                                    <td style="padding:0px 0px 1px;" width="4"></td>
                                    <td style="font-size:0px;line-height:0px;padding:25px 1px 0px 0px;" width="42">
                                      <a href="https://www.facebook.com/daniel.daub.9" rel="nofollow noopener noreferrer" target="blank" style="text-decoration:none !important;">
                                        <img src="http://drive.google.com/uc?export=view&id=1y7d9KqX0CWXon3P2LB4kKMhCQdmQEKqG" alt="" style="display:block;border:0px;max-width:42px;" width="42" height="42">
                                      </a>
                                    </td>
                                    <td style="padding:0px 0px 1px;" width="4"></td>
                                    <td style="font-size:0px;line-height:0px;padding:25px 1px 0px 0px;" width="42">
                                      <a href="https://www.youtube.com/channel/UCHOmXxuqDvJafEb0skA4SmQ" rel="nofollow noopener noreferrer" target="blank" style="text-decoration:none !important;">
                                        <img src="http://drive.google.com/uc?export=view&id=1huxs7TtwgfocHo9_RiyHN0-4nmz3KQE8" alt="" style="display:block;border:0px;max-width:42px;" width="42" height="42">
                                      </a>
                                    </td>
                                    <td style="padding:0px 0px 1px;" width="4"></td>
                                    <td style="font-size:0px;line-height:0px;padding:25px 1px 0px 0px;" width="42">
                                      <a href="https://www.tiktok.com/@herrdaub?lang=de-DE" rel="nofollow noopener noreferrer" target="blank" style="text-decoration:none !important;">
                                        <img src="http://drive.google.com/uc?export=view&id=11RTtYHdd5aBS9xkCzlI8_d9Rk51Vn2gW" alt="" style="display:block;border:0px;max-width:42px;" width="42" height="42">
                                      </a>
                                    </td>
                                    <td style="padding:0px 0px 1px;" width="4"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>

    </table>
  </body>
</html>
